.rcsearchResults {
    padding-bottom: 2rem;
}

.rcsearchItemLi {
    border-bottom: 1px solid #4a443a;
}

.rcsearchItemLi:hover .rcsearchItemImg::before {
    opacity: 1;
}

.rcsearchItemImg{
    width: 64px;
    height: 64px;
    position: relative;
}

.rcsearchItemImg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(https://new-world.guide/static/images/itemlayout/itemhighlightsquare.png);
    background-size: cover;
    transition: opacity .3s;
    opacity: 0;
    z-index: 4;
}

.rcsearchItemName {
    /* line-height: 64px !important; */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 365px;
}

.rcsearchItemTag {
    background-color: transparent !important;
    border-color: white !important;
    margin-right: 0.5em;
    font-size: .75rem !important;
    line-height: 1rem !important;
    text-transform: capitalize !important;
}

.bootstrap-iso a, .bootstrap-iso a:hover, .bootstrap-iso a:link, .bootstrap-iso a:visited, .bootstrap-iso a:active {
    color: #fff !important;
    text-decoration: none;
}

.ajs-footer {
    display: none;
}